<p id="notice"><%= notice %></p>

<p>
  <strong>Theme:</strong>
  <%= @course.theme %>
</p>

<p>
  <strong>Price:</strong>
  <%= @course.price %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @course.currency %>
</p>

<p>
  <strong>Type:</strong>
  <%= @course.course_type %>
</p>

<p>
  <strong>Available:</strong>
  <%= @course.available %>
</p>

<p>
  <strong>Url:</strong>
  <%= @course.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>End at:</strong>
  <%= @course.end_at %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
